

 @import "define";

  html body{
    // font-family:SimHei;
    background-color: #000;
    font-size: 14px;

    ul,li,p,h4{
        margin:0;
        padding: 0;
    }
    ul{
        list-style: none;
    }
  }
 
  ::-webkit-scrollbar{
      width: 8px;
  }

  div#content{
    background-image: url(../imgs/login_bg.jpg);
    background-size: cover;
    background-position: center;
    min-width: 1320px;
    .app_container{
         background: transparent;
         overflow: hidden;
        .message-box{
            background: transparent;
            color:$color-text-ll;
        }
        
        div.error_msg{
            color:$orangeRedColor;
        }

        .form-control{
            border-radius: 0;
        }
        .input-group{
            .input-group-addon{
                border-radius: 0;
                i{color:#000;}
            }
            input{
                border-radius: 0;
            }
        }

        .UnlockWallet{
            .modal-dialog{
                background-image: url(../imgs/bg_unlock.png);
                background-size: cover;
                background-color:#000;
                color:#fff;
                border:1px solid $color-text-dark;
                border-radius: 0;
                padding:0.15rem 0.2rem;
                display: flex;
                flex-direction: column;

                i.i_close{
                    top:0.16rem;
                }
                .title{
                    color:#fff;
                    font-weight: normal;
                    border-bottom: 0;
                    font-size: 0.16rem;
                }
                .body{
                    flex: 1;
                    position: relative;
                    >div{
                        position: absolute;
                        width: 100%;
                        bottom: 0.2rem;
                    }
                    .error_msg{
                        width: 100%;
                    }
                    .input-group{
                        display: flex;
                        width: 100%;
                        margin-top: 0;
                        .input-group-addon{
                            width: 40px;
                        }
                        .form-control{
                            flex: 1;
                        }
                        .uk-button{
                            line-height: inherit;
                            margin-left: 10px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        > .navbar-default{
            background:rgba(0,0,0,0.7) ;
            border:0;
            // border-bottom: 1px solid rgba(255,255,255,0.1);
            .navbar-nav {
                > .active{
                    >a,>a:focus,a:hover{
                        background: rgba(255,255,255,0.1);
                        color:#C4C6C5;
                    }
                }

                li{
                   border-right: 1px solid hsla(0,0%,50%,.3); 
                    >a{
                        color:#fff;
                    }
                    >a:hover{
                     background: rgba(255, 255, 255, 0.1);
                    }
                }
            }

            .navbar-right li{

                .li_a{
 
                    .anticon{
                        font-size: 0.22rem;
                        position: relative; 
                        top:2px;
                    }
    
                    .anticon-poweroff {
                        font-size: 0.18rem;
                        top:1px;
                    }
                    .anticon-lock{
                        font-size: 0.26rem;
                    }
                }
                .ant-dropdown-link{
                    .anticon-down{
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            } 
        }

        .div_main_c{
            max-width:1366px;
            // min-width: 1200px;
            .left_side {
                background:$black-50;
                border:0;
                
                >header{
                    // padding: 0 0.48rem 0.4rem;
                    min-width: 220px;
                    > .icon > .img{
                        background: rgba(255,255,255,0.2) !important;
                        border: none;
                    }

                    h4{
                        color:#ffffff;
                        text-align: center;
                    }
                }
                .nav_menus{
                    >ul{
                        background: transparent;

                       >li:first-child{
                           >.ant-menu-submenu-title{
                               border-top:1px solid $color-text-dark;
                           }
                        }
                    }
                  
                    .ant-menu-submenu-title{
                        background: $black-80;
                        color:#FEFEFE;
                        // border-top:1px solid $white-60;
                        border-bottom:1px solid $white-60;

                    }
                    .ant-menu-sub{
                        background: transparent;
                        .ant-menu-item{
                            background: $black-30;
                            border-bottom: 1px solid $color-text-dark;
                            color:$color-text-ll;
                        }
                        .ant-menu-item-selected{
                            color:#fff;
                            background: $color-text-dark;
                        }
                        .ant-menu-item:hover{
                            background: $color-text-dark;
                        }
                    }
                }
            }
            .right_content{
                border:0;
                padding: 0.5rem;

                .content_shop{
                    display: flex;
                    flex-direction: column;
                    .breadcrumb{
                        position: relative;
                        .li_official_info{
                            position: absolute;
                            right: 0;
                        }
                        .li_official_info:before{
                            display: none;
                        }
                    }
                    .content_body{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        .game_title{
                            color:$color-text-ll;
                            margin-bottom: 20px;
                        }
                       
                            
                            // >.active{
                            //     .item{
                            //         padding: 20px 0 16px 0;
                            //         border:1px solid $orangeColor;
                            //         border-radius: 5px;
                            //     }
                            // }
                        }

                        // >footer{
                        //     text-align: right;
                        //     padding: 0 60px 50px 0;
                        // }
                    }
                    .recommend_games{
                        .goods_list{
                            margin-top:10px;
                            .div_img{
                                margin: 0 auto;
                                width: 200px;
                                height: 200px;
                                background-image: url('../imgs/games/plane_war.png');
                                background-size: cover;
                            }
                        }
                    }
                    .goods_list{
                        flex: 1;
                        .item_c{
                            display: inline-block;
                            width: 33.3%;
                            text-align: center;
                            
                            .item{
                                width: 80%;
                                margin: 0 auto;
                                padding: 20px 0 16px 0;
                                border:1px solid $color-text-dark;
                                border-radius: 5px;
                                p{
                                    text-align: center;
                                    color:$color-text-ll;
                                    margin-top: 5px;
                                }
                                .uk-button{
                                    line-height: 0.3rem;
                                    margin-top: 10px;
                                }
                            }

                            .item:hover{
                                border-color:$orangeColor;
                            }
                        }
                }

                >.content_balance{  
                    .div_tabs{
                        padding-left: 10px;
                        flex: 1;
                        >.ant-tabs{
                            position: relative;
                            height: 100%;
                            .ant-tabs-nav-container{
                                font-size: 15px;
                                .ant-tabs-tab-active{
                                    color:$orangeColor;
                                }
                                .ant-tabs-ink-bar{
                                    background-color:$orangeColor;
                                }
                                .ant-tabs-tab:hover{
                                    color:$orangeColor;
                                }
                            }
                            >.ant-tabs-bar{
                                margin-bottom: 0;
                            }
                            >.ant-tabs-content{
                                // overflow: auto;
                                position: absolute;
                                top:44px;
                                bottom: 0;
                                width: 100%;
                                .ant-tabs-tabpane-active{
                                    display: flex;
                                    >div{
                                        width: 100%;
                                    }
                                    .last-operation {
                                        height: 100%;
    
                                        .last-operation-header{
                                            margin-top: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
               
              
                }
                > .content{
                    max-width: 100%;
                    // width: 90%;
                    background: rgba(0,0,0,0.8);
                    padding:0.2rem 0.3rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    >.content {
                        height: 100%;
                        width: 100%;
                        padding-top:0;
                    }
                    .separate2 {
                        background:$color-text-dark;
                        // transform: scale(0.5);
                    }
                    .breadcrumb{
                        background: transparent;
                        border-bottom: 1px solid $color-text-light;
                        border-radius: 0;
                        padding-left:0;
                        width: 100%;
                        li{
                            margin-left: 6px;
                            a{color:#F7CD45;}
                        }
                        > .active{
                            color:#F7CD45;
                        }
                    }

                    .balance {
                        background: transparent;
                        font-size: 0.16rem;
                    
                        .balance-header{
                            background: transparent;
                            color:#fff;
                        }

                        .balance-body{
                            > div:nth-of-type(even){
                                background: transparent;
                            }
                            .balance-row{
                                > span,>div{
                                    color:#fff;
                                }
                                .div_opt{
                                    a{margin-right: 0.1rem; min-width:32px; display:inline-block;}
                                }
                            } 
                            .balance-row:last-child{
                                margin-top: 2rem;
                                padding-top: 0.1rem;
                                border-top:1px solid $color-text-dark;
                            }
                        }
                    }
                    .last-operation{
                        background: transparent;
                        color:#fff;
                        display: flex;
                        flex-direction: column;
                        padding: 0;
                        .last-operation-header-c{
                            display: block;
                            padding-right: 0.1rem;
                        }
                        .last-operation-body{
                            overflow: auto;
                            flex: 1;
                            padding-right: 0.1rem;
                            max-height: 615px;
                            .last-operation-row{
                                border-bottom:1px solid rgba(255,255,255,0.2);

                                > span{
                                    color:#fff;
                                }
                                > div{
                                    color:#fff
                                }
                                i{margin-right: 2px;}
                                >.p_sxf{
                                    min-width: 1.2rem;
                                    padding-right: 0.06rem;
                                }
                                >p.lookup_block{
                                    width: 0.6rem;
                                    color:#e2c321;
                                    text-align: center;
                                    border:1px solid #e2c321;
                                    padding: 2px 0;
                                    height: 28px;
                                    cursor: pointer;
                                }
                            }
                            .last-operation-row:last-child{
                                border:0;
                             }
                        }
                    }
                }
                .content_transfer{
                    
                    .div_main_body{
                        max-width: 100%;
                        width: 100%;
                        position: relative;
                        flex: 1;
                        .operate{
                            text-align: right;
                            padding-right: 0.2rem;
                            position: absolute;
                            bottom: 0.3rem;
                            width: 100%;
                        }
                        .text-img-input{
                            background: transparent;
                            padding: .2rem;
                            border-radius: 5px;
                            margin-bottom: 0.1rem;
                            .text-box {
                                > .label{
                                    color:$color-text-ll;
                                    font-weight: normal;
                                    .orangeRed {
                                        cursor: pointer;
                                        margin-left: 3px;
                                        >span>span:nth-child(1){
                                            font-size: 13px;
                                        }
                                    }
                                }

                                > .input{
                                    margin-top: 3px;
                                    > label{
                                        color:#c1bebe
                                    }
                                    > input[type='text']{
                                        background:none;
                                        color:#fff;
                                        min-width: 80px;
                                    }
                                    > input[type='text']:disabled {
                                        background-color: transparent;
                                    }
                                } 
                            }
                        }
                        .transfer_user{
                            display:flex;
                            .text-img-input{
                               flex:1;
                               font-size: 0.16rem;
                               >.div_label{
                                   align-self: flex-end;
                                   color:#fff;
                                   margin-right: 0.2rem;
                               }
                               .icon{
                                    height: 0.72rem;
                                    i,.img{
                                        width: 0.72rem;
                                        height: 0.72rem;
                                    }
                               }
    
                               .anticon-question{
                                    background:$color-text-light;
                               }
                            }
                            .div_icon {
                                display: flex;
                                align-items: center;
                                margin: 0 0.2rem 0.2rem 0.36rem;
                                i{
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                }

                .regPanel_c{
                    position: relative;
                    width: 100%; height: 100%;
                    top:0;
                    bottom: 0;
                    background: transparent;
                    .regPanel {
                        background:$black-60;
                        border-color: rgba(255,255,255,0.2);  
                        padding: 0.26rem 0.46rem 0.26rem 0.46rem;
                        border:0;
                        h4{
                            color:#EDEDED;  
                            text-align: center;
                        }
                        .operate{
                            margin-bottom: 0.16rem;
                        }
                        a{
                            color:#EDEDED;
                            margin-right: 0.2rem;
                        }
                        .input-group{
                            .input-group-addon{
                                background: #fff;
                                border-radius: 0;
                                i{
                                    color:#000;
                                }
                            }
                            input{
                                border-left:0;
                                background: #fff;
                               // box-shadow:0 0 0 transparent;
                                border-radius: 0;
                            }
                            .form-control:focus{
                                // border-color:rgba(255,255,255,0.1);
                            }
                        }
                    }
                }

                .content_setting{
                    .setting_home{
                        margin: 0 auto;
                        height: 100%;
                        width: 100%;
                        max-width: 100%;
                        .common_setting{
                            // max-width: 5rem;
                            margin: 0.36rem auto 0;

                            button:active{
                                opacity: 0.4;
                            }
                            .div_wallet_btn{
                                margin-bottom: 0.2rem;
                                .ant-btn{
                                    width: auto;
                                    margin-top: 0;
                                    margin-right: 0.1rem;
                                }
                            }
                            
                            >div.XNSSelect{
                                padding: 0.07rem 0.1rem;
                                background: #fff;
                                margin-bottom: 0.1rem;
                                &:nth-child(2){
                                    margin-top: 0.2rem; 
                                }
                            }
                        }
                       
                    }
                    .content_import-backup{
                        margin-top: 0;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        >.content{
                            margin-top: 0.36rem;
                            .text-input{
                                max-width: 800px;
                                margin:0 auto;
                            }
                        }

                        .text-muted{
                            color:$color-text-ll;
                            font-size: 0.15rem;
                        }
                        .div_steps{
                            display: flex;
                            justify-content: space-around;
                            max-width: 800px;
                            margin: 1rem auto 0;
                            color:#9C0516;
                            .step{
                                .div_bg{
                                    width: 144px;
                                    height: 155px;
                                    background-image: url(../imgs/bg_step.png);
                                    background-repeat: no-repeat;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 0.38rem;
                                }          
                                p{
                                    text-align: center;
                                    margin-top: 0.2rem;
                                    color:$color-text-ll;
                                }       
                            }

                            .active_step{
                                 color:#E4111A;   
                                .div_bg{
                                    background-image: url(../imgs/bg_step_active.png); 
                                }
                            }
                        }
                    }

                    .importKey{
                        margin-top: 0;
                        max-width: 100%;
                        .input-group{
                            margin-top: 0.36rem;
                        }
                    }
                }
            }
        }
    }
  }


  .TransactionConfirm{
      .modal-dialog{
          i.i_close{
            top:0.16rem;
          }
          .body{
            .list{
                >div{
                    margin-bottom: 0.06rem;
                    color:#000;
                    .gray{
                        display: inline-block;
                        min-width:0.8rem;
                    }
                }
                >.transfer_amount{
                    span:nth-child(2){
                        color:$orangeRedColor;
                    }
                }
            }
          }
          
          .buttons{
              padding: 0.1rem 0 0.06rem 0;
              text-align: right;
          }
      }
  }


    #content .full .content_setting .content_Backup .div_main_body .message-box{
        color:$color-text-ll;
    }

    .uk-button-primary:active, .uk-button-primary.uk-active {
        background-color: #9a7b0d;
    }

    .uk-button-primary {
        background-color: #e2c321;
        font-weight: normal;
    }

    .green-btn{
        background-color: #e2c321;
        font-weight: normal;
    }
    .green-btn:active{
        background-color: #9a7b0d;
    }
    #content .full .content_setting > .setting_home .select-input > .select-input-popup > ul > li{
        padding: 0.08rem 0 0.08rem 0.1rem;
    }

    #content .full .content_setting > .setting_home .select-input > .select-input-popup > div input{
        margin-left: 0.1rem;
        border-bottom: 0;
    }

    .text-loading{
        color:#fff;
    }

    .ant-btn-background-ghost.ant-btn-primary{
        border-color:#cca327 !important;
        color:#cca327 !important
    }

    .ant-select-lg .ant-select-selection--single{
        border-radius: 0;
    }

    body{
        .ant-modal-title{
            font-size: 16px;
        }
        .ant-modal-body{
            font-size: 14px;
        }
        .ant-btn{
            line-height: inherit;
        }

        .ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
            margin-bottom: 0;
        }

        .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
            margin-top: 0;
        }

        .ant-select-selection-selected-value, .ant-select-dropdown{
            font-size: 0.14rem;
        }
        .ant-modal-header{
            padding-left: 20px;
        }

        .ant-input-search.ant-input-search-enter-button > .ant-input{
            //padding-right: 50px;
            // padding-left: 6px
        }

        .ant-notification-notice-message-single-line-auto-margin{
            display: none;
        }
        .ant-notification-notice-with-icon .ant-notification-notice-message{
            margin-bottom: 0;
        }

        .ant-modal-close-x{
            font-size: 20px;
        }

        .ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title{
            margin-bottom: 0;
        }
    } 

    div#content .app_container .div_main_c .right_content > .content .breadcrumb{
        border-bottom: 0;
    }

    .ant-tabs-tab{
        color:$color-text-ll;
    }
 
    .modal_block_info{
        ul.block_main_info{
            li{
                margin-bottom: 3px;
                span{
                    display: inline-block;
                    min-width: 84px;
                }
            }
        }
        h4{margin-bottom: 10px;}
        .ant-modal-content{
            border-radius: 0;
        }
        .transactions{
            max-height: 320px;
            overflow: auto;
            margin-top: 16px;
            padding-right: 6px;
            .last-operation-row{
                display: flex;
                margin-bottom: 3px;
                >span:first-child{
                    display: inline-block;
                    min-width: 60px;
                }
                >div{
                    flex: 1;
                    margin:0 10px;
                }
            }
            .last-operation-row:first-child{
                border-bottom: 1px solid #eee;
                margin-bottom: 6px; 
                padding-bottom: 3px;
            }

            .transaction{
                margin-bottom: 10px;
                h5{
                    // margin:0;
                    padding: 6px 0;
                    border-bottom: 1px dashed #a4d3fd;
                }
            }
        }
        .ant-modal-body{
            display: none;
        }
    }
    
    .blockModalActive{
        .ant-modal-body{
            display: block;
        }

        .ant-modal-content{
            border-radius: 4px;
        }
    } 

    *{
        user-select:text;
    }

    @media(min-width:1200px){
        .modal_block_info{
            width: 620px !important;
        }
    }
 

    div#content .app_container .div_main_c .right_content .cloudLogin .regPanel .operate{
        margin-bottom: 0.1rem;
        text-align: left;
        button{
            margin-right: 0.2rem;
            width: 100%;
        }
    }
    

    .div_main_c  .content_orders{
        display: flex;
        flex-direction: column;
        height: 100%;
        .ant-table-body{
            color:#fff;
        }
        .ant-table-thead > tr > th{
            background: transparent;
            color:$color-text-light;
        }
    
        .ant-table-tbody {
            > tr:hover{
                color:#000;
            }
            > tr > td{
                border-bottom: 1px solid $color-text-dark;
            }
        }
    
        .ant-table-header,.ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
            background: transparent;
        }
    
        .ant-table-fixed-header .ant-table-scroll .ant-table-header{
            overflow: hidden;
            margin-bottom: 0 !important;
        }
        .content_body{
            flex: 1;
            overflow: hidden;
            padding-top: 0.1rem;
        }
    
        .breadcrumb{
            margin: 0 !important;
            padding: 0 15px;;
        }

        .ant-pagination-jump-prev:after, .ant-pagination-jump-next:after{
            color:#fff;
        }
    }

    .deposit_modal_new{
        min-width: 500px;
        .QR{
            text-align: center;
        }
        .div_address{
            display: flex;
            // justify-content: center;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
            >.div_copyIcon{
                font-size: 0.2rem;
                display: flex;
                align-items: center;
                .copyIcon{
                    background-color:#049cce;
                }
            }
            .modal__highlight{
                color:#ce7925;
            }
        }
        .ant-form{
            padding: 0 0.1rem;
            .ant-form-item-label{
                text-align: left;
            }
            .ant-input-number{
                width: 357px;
            }
            .ant-form-item{
                margin-bottom: 0.1rem;
            }
        }
        // p.attention{
        //     // >span{
        //     //     color:$orangeRedColor;
        //     // }
        // }
        .body_btns{
            margin-bottom: 0.1rem;
            .ant-btn{margin-right: 0.1rem;}
        }  
    }
    .modal_loading{
        .ant-modal-footer{
            display: none;
        }
    }
    .modal_recharge{
        .ant-modal-footer{
            .ant-btn-primary{
                display: none;
            }
        }
    }

    .gatewayRecord{
        .div_TXID{
            text-align: center;
            .anticon-eye-o{
                font-size: 0.22rem;
            }
        }
        .div_opt{
            text-align: center;
        
            display: flex;
            justify-content: space-between;
            
        }
        .ant-table-scroll{
            max-height: 624px;
            overflow: auto;
        }
        .ant-menu{
            background: transparent;
            color:$color-text-ll;
        }
        // .div_type{
        //     text-align: center;
        // }
        // .status{
        //     text-align: center;
        // }
        .breadcrumb{
            margin-bottom: 0.1rem;
        }
    }

   
   .ant-confirm-success .p_trx_ok{
    word-wrap:break-word;
   }
   div#content .app_container .div_main_c .right_content > div.cloudLogin{
       background: transparent;
   }
   .cloudLogin .div_cloudLogin {
    max-width: 5.2rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 50px;
    border-radius: 6px;

    h4{
        color:#fff;
        margin-bottom: 0.2rem;
        text-align: center;
    }
    .input-group{
        margin-bottom: 0.2rem;
    }
}

body .div#content .app_container .div_main_c .right_content .content_setting .setting_home .common_setting>div.XNSSelect:nth-child(1){
    margin-bottom: 0.16rem;
}

body div#content .app_container .div_main_c .right_content .content_setting .setting_home .common_setting > div.XNSSelect:nth-child(1){
    margin-bottom: 0.16rem;
}