#content .full > .navbar-default{
  // margin: 0 auto;
  // width: 1200px;
}
body{
  font-family: 	SimHei;
}
.div_main_c .right_content{
  // border: 1px solid rgba(255,255,255,0.6);
  // height: 600px;
  // border-width: 0 1px 0 1px;
  // border-color:rgba(255,255,255,0.1);
  // border-style: solid;
  border:1px solid rgba(255,255,255,0.1);
  border-top:0;
  border-bottom-color: transparent;
}
#content .full .div_main_c .right_content .regPanel_c .regPanel{
  margin:auto;
}
#content .full{
  background: #3c3838 !important;
}

#content .full .div_main_c .right_content .regPanel_c .regPanel{
  background: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.2);  

}
.uk-button-primary{
  background-color: #1e87f0;
}
.abeifen{
  font-size:0.05rem;
  color: #e2c321;
  padding: 5px;
  text-align:right;
}
.regTitle{
  margin: 1rem 1rem auto;
  margin-top: 1.3rem;
  max-width: 6rem;
}
.regContent > h1{
  color:#6aa9e8
}
.regContent > h2{
  font-size: 0.2rem;
  color:#6aa9e8;
  padding:5px;
}
.regContent > h3{
  font-size: 0.1rem;
  color:#6aa9e8;
  padding:5px;
}
.regContent{
  margin: 0em 0rem auto;
}
//左边导航
#content .full .div_main_c .left_side{
  border-right: none;
  border-left: 1px solid rgba(255,255,255,0.1);
  // border-bottom: 1px solid #000000 !important;
  background-color: #3c3838;
  border-radius: 5px;
  border-bottom-right-radius: 0;
}

.left_side h4{
  color:#ffffff;
  text-align: center;
}
.ant-menu{
  color: #ffffff !important;
  background: #3c3838 !important;
}
#content .full .div_main_c .left_side .nav_menus .ant-menu-inline .ant-menu-submenu-title{
  background:rgba(255,255,255,0.03);
}

ul.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background:rgba(255,255,255,0.1);
}
#content .full .div_main_c .left_side > header > .icon > .img{
  background: rgba(255,255,255,0.03) !important;
  border: none;
}
.balance{
  background-color: #3c3838 !important;
    color: #ffffff;
}
.balance .balance-header{
  background-color: #3c3838 !important;
}
.last-operation {
    background-color: #3c3838;
    color: #ffffff
  }
.content .text-img-input{
  background-color: rgba(74, 74, 74, 0.5);
  padding: .2rem;
  border-radius: 5px;
}
.content .text-img-input .text-box > .label{
  color:#c1bebe;
}
#content .full .div_main_c .right_content .content_transfer .text-img-input .icon{
  // border:1px solid rgba(255,255,255,0.1);
  border:0;
}
#content .full .div_main_c .right_content .content_transfer .text-img-input .icon .img{
  background:rgba(255,255,255,0.1);
}
.content .text-img-input .text-box > .input > label{
  color:#c1bebe
}
#content .full .div_main_c .right_content .content_transfer .text-img-input .text-box .input{
  // border: none;
  border-bottom:1px solid  #9c9898;
}
.content .text-img-input .text-box > .input > input[type='text']{
  background: #434141;
  // border-bottom:1px solid  #9c9898;
  color:#fff;
}
.content .text-img-input .text-box > .input > input[type='text']:disabled {
    background-color: #434141;
}
#content .full .content_setting .content_Backup .message-box{
  background: #3c3838;  
}

.content_setting .message-box{
  background: #3c3838;
}
// .message-box{
//   background: #3c3838;
// }

.ant-steps .ant-steps-head {
    background: #3c3838 !important;
}
.ant-steps-title{
  color: #ffffff !important;
}
.ant-steps .ant-steps-title {
    background-color: #3c3838 !important;
}
#content .full .content_balance .balance .balance-row > span {
    color: #999999;
}
#content .full .div_main_c .right_content > .content > .last-operation .last-operation-body .last-operation-row > span{
  // color:#fff
}
#content .full .div_main_c .right_content > .content > .last-operation .last-operation-body .last-operation-row > div{
  color:#fff
}
// a{
//   color:#c6c9cc !important
// }
.error_msg{
  background: none !important
}
.uk-button-default {
    background-color: #1e87f0;
    color: #fff;
    border:0;
  }
  // .green-btn{
  //       background-color: #3c3838;
  // }

  .navbar{
    border-radius: 0;
  }



  #content .full .content_setting > .setting_home .select-input{
    background: #3c3838;
    border-radius: 4px;
  }
  #content .full .content_setting > .setting_home .XNSSelect{
    padding: 0.07rem 0.1rem;
    background: #fff;
  }
  #content .full .div_main_c .right_content .regPanel_c .regPanel h4{
    // color:#c6c9cc;
    text-align: center;
  }

  .last-operation .last-operation-body > .last-operation-row{
    border-bottom:1px solid rgba(255,255,255,0.2);
  }
  .last-operation .last-operation-body > .last-operation-row:last-child{
    border:0;
  }
  #content .full .content_setting > .setting_home .select-input > .select-input-popup{
    border:1px solid #dedede;
  }
  // #content .full .content_setting > .setting_home .select-input > .select-input-popup > ul > li{
  //   padding: 0.08rem 0 0.08rem 0.1rem;
  // }

  #content .full .content_setting > .setting_home .select-input > .select-input-popup > div input{
    margin-left: 0.1rem;
    border-bottom: 0;
  }

  #content .full > .navbar-default{
    // background: rgba(255,255,255,0.5);
    background: #3f3f3f;
    border:0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .navbar-default .navbar-nav > li > a{
    color:#fff;
  }
  // #content .full > .navbar-default .navbar-nav li .li_a{
  //   border-right: 1px solid hsla(0,0%,50%,.45);
    
  // }
  #content .full > .navbar-default .navbar-nav li{
    border-right: 1px solid hsla(0,0%,50%,.45);
    
  }
  .navbar-default .navbar-nav > li > a:hover{
    color:#fff;
    background-color: #4c4c4c;
    
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
    background-color: #4c4c4c;
    color:#fff;
  }
  // #content .full > .navbar-default .navbar-nav li:{
  //   background-color: #4c4c4c;
  // }
  
  .text-loading{
    color:#fff;
  }